.background{
    background-image: url('../img/welcome-background.png');
    background-size: cover;
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   justify-content: space-evenly;
}

.background__logo-wrapper{
    animation: logoAnimation 2.5s;
}
@keyframes logoAnimation {
    from{
        transform:translateX(-1000px);
    }
    to{
        transform:translateX(0px);
    }

}
