.order{
    position: absolute;
    top:25%;
    left:10%;
    background: #fff;
    padding:40px 40px;
    z-index: 10;
    width:350px;
}
.order__caption{
    margin-bottom: 20px;
}
.order__menu-wrap{
    display: flex;
    flex-direction: column;
}
.addressInput{
    width:100%;
}
.order__menu-direction:hover .addressInput{
   border-bottom:1px solid black;
}
.addressInput:active{
    border-bottom:1px solid blue;
    outline: none;
 }
.order__menu-direction{
    margin-bottom: 20px;
    position: relative;
}
.order__button{
    padding: 15px 20px;
    background-color: #ffc617;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 800;
    border: none;
    margin-bottom: 0;
}
.order__button:hover{
    cursor: pointer;
    background-color: #daa508;
}
.order__button:focus{
    background-color: #af8609;
    
}
.order__button:disabled{
    background-color:lightgrey;
}
.order__button:disabled:hover{
    background-color:lightgrey;
    cursor: initial;
}
.order__menu{
    border:none;
    background:transparent;
    border-bottom: 1px solid black;
}
.drop-menu{
    padding: 5px 0px;
    border: 1px solid black;
    border-radius: 5px;
  
}
.drop-menu__item{
    background: white;
    padding:3px;
}
.drop-menu__item:hover{
    padding:3px;
    background: lightgrey;
    border-radius: 3px;
}
.order__header{
    font-size: 30px;
    margin-bottom: 30px;
}
.order__text{
    margin-bottom: 30px;
    font-size: 20px;
}
.input_label{
    position: relative;
}
.input_label::after{
    content:'';
    position: absolute; 
    right:0;
    top:30%;
    width:10px;
    height: 10px;
    background-image: url('../img/angle-arrow-down_icon-icons.com_73683.svg');
    /* background-position: -50px; */
    background-size: cover;
    fill:grey;


}
.order__menu-direction:hover .addressInput{
    border-bottom:1px solid black;
 }

