.reg{
    background: #fff;
    width:450px;
    padding: 90px 35px;
    border-radius: 3px;
}
.reg__caption-wrap{
    margin-bottom: 10px;
}
.reg__question{
    margin-bottom: 30px;
}
.reg__form{
    display: flex;

    flex-wrap: wrap;
    justify-content: flex-end;
}
.reg__form-wrap{
    width:100%;
    display: flex;
    flex-direction: column;
}
.reg__form-input{
    border:none;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.reg__form-input:last-child{
    margin-bottom: 30px;
}
.reg__form-wrap--name,
.reg__form-wrap--surname{
    width:47%
}
.reg__form-wrap--name{
    margin-right: 6%;  
}
.reg__form-submit{
    padding: 15px 20px;
    background-color: #ffc617;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 800;
    border:none;
}
.reg__form-submit:hover{
    cursor: pointer;
    background-color: #daa508;
}
.reg__form-submit:focus{
    background-color: #af8609;
    
}
.reg__login-link{
    color:#1079f1
}
.reg__login-link:hover{
    text-decoration: underline;
}
.withError > .reg__form-label{
    color:red;
}
.withError > .reg__form-input{
   border-bottom:1px solid red;
}
.reg__success{
    margin-bottom: 20px;
}
.reg__form-submit{
    color:black ;
}
.reg--success{
    display: flex;
    flex-direction: column;
    align-items: center;
}