*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.container{
    width:95%;
    margin:0 auto;
}
/* .container--map{
    position: relative;
} */
.header-wrap{
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.11);
    border-bottom: 1px solid rgba(0,0,0,0.11);
    position: absolute;
    /* top: 0; */
    /* left: 0; */
    background: white;
    width: 100%;
    z-index:10;
}
.map{
    height:100vh;
    position: relative;
}

/* .background::before{
    content:'';
    position: absolute;
    width:100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index:-1;
} */
.root-wrapper{
    position: relative;
}
input{
    border:none;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.bigTEXT{
    width:100px;
    height: 200px;
    background:white;
    border:2px solid black;
    z-index: 20;
}
.warninng-block{
    position: absolute;
    top:25%;
    left:10%;
    background: #fff;
    padding:40px 40px;
    z-index: 10;
    width:350px;
}
.link-btn{
    padding: 15px 20px;
    background-color: #ffc617;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 800;
    border: none;
    margin-bottom: 0;
}
.warning_header{
    margin-bottom: 20px;
}
/* .registration__logo{
    margin-right: 50px;
} */
/* #map {
    position:absolute; top:0; bottom:0; width:100%;
} */

.container-map{
    height: 100%;
    position: relative;
}
#root{
    position: relative;
    overflow: hidden;
  
}
.tooltipError{
    position: absolute;
    line-height: 50px;
    background-color: #ffc617;
    border-radius: 3px;
    bottom: -10%;
    color: black;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
}
.tooltipErrorAnimation{
    animation: errorAnimation 5s;
}
@keyframes errorAnimation {
    0%{
       bottom: -10%;
    }
    25%{
        bottom:0%;
    }
    50%{
        bottom:0%;
    }
    75%{
        bottom:-10%;
    }
    100%{
        bottom:-10%;
    }

}